%section.overview.row
  %h1.overview.copy.line-1 Adam&#8217;s and Ren&eacute;e&#8217;s
  %h1.overview.copy.line-2 Big
  %h1.overview.copy.line-3 White
  %h1.overview.copy.line-4 Wedding
  %h1.overview.copy.line-5.blood Of Terror
  %time.overview.copy 5:00PM Sunday
  %time.overview.copy October 13th 2013
  %address.overview.copy Timberline Lodge in Oregon