%section.what.row
  %div.what.copy
    %h1.what The Wedding and Party

    %h2.what The Ceremony
    %p.what We will be saying our vows at 7:00PM.

    %h2.what The Dress Code
    %p.what Cas&shy;u&shy;al or Awe&shy;some Mon&shy;ster Cos&shy;tumes. But be warned, if you come as a su&shy;per&shy;hero, you will leave as a zom&shy;bie.

    %h2.what The Party
    %p.what We will have heavy hors d&#8217;oeuvres, in&shy;cred&shy;ible Holmes Har&shy;bor Cel&shy;lars wines and de&shy;light&shy;ful Bruch&shy;lad&shy;dich Is&shy;lay single malt Scotch whis&shy;key (as well as less&shy;er spir&shy;its for our more fer&shy;al mon&shy;ster friends).
    %p.what And for our north&shy;west&shy;ern guests, we will have Mt. Hood Brew&shy;ery ales.
  %div.what.block
    %h1.what The Room Block
    %p.what 
      Call Timberline: 800.547.1406 or 503.272.3410 
      %br
      Reserve for the Hendricksen Wedding 
      %br
      %a{:href => 'http://www.timberlinelodge.com/contact/'}
        Timberline Lodge
  %div.what.block
    %h1.what The Gift Registry
    %p.what 
      We setup a Wanderable site
      %br
      for our honeymoon skiing in Japan!
      %br
      %a{:href => 'https://www.wanderable.com/hm/bigwhiteweddingofterror'}
        Online Registry