%section.what
  %h1.what The Wedding and Party

  %h2.what The Ceremony
  %p.what We will be saying our vows at 7:00PM.

  %h2.what The Dress Code
  %p.what Casual or Awesome Monster Costumes. But be warned, if you come as a superhero, you will leave as a zombie.

  %h2.what The Party
  %p.what We will have heavy hors d&#8217;oeuvres, incredible Holmes Harbor Cellars wines and delightful Bruchladdich Islay single malt Scotch whiskey (as well as lesser spirits for our more feral monster friends).
  %p.what And for our northwestern guests, we will have Mt. Hood Brewery ales.