%section.what.row
  %h1.what.copy The Wedding and Party

  %h2.what.copy The Ceremony
  %p.what.copy We will be saying our vows at 7:00PM.

  %h2.what.copy The Dress Code
  %p.what.copy Casual or Awesome Monster Costumes. But be warned, if you come as a superhero, you will leave as a zombie.

  %h2.what.copy The Party
  %p.what.copy We will have heavy hors d&#8217;oeuvres, incredible Holmes Harbor Cellars wines and delightful Bruchladdich Islay single malt Scotch whiskey (as well as lesser spirits for our more feral monster friends).
  %p.what.copy And for our northwestern guests, we will have Mt. Hood Brewery ales.