%section.where
  %h1.where The Sinister Timberline Lodge
  %p.where Timberline Lodge was constructed by hand with an army of starving and desperate WPA workers during the Great Depression. Its rustic style and warm halls belie the sinister history of this lodge. Many ghosts have been spotted outside the first aid room, where countless unfortunate skiers and mountaineers have lost their lives over the long years. It is unknown how many vengeful climbing wights roam the upper mountain, seeking to devour the breath and warmth of any who dare trespass above the tree-line. Timberline Lodge stands on this threshold, astride the gulf between the living and the dead.
   
  %p.where The highway leading up the mountain towards the lodge was blasted out of a ridge-line containing an Native American Burial Ground. To this day, superstitious locals refer to the pass as the Silent Rocks, and refuse to speak while driving through that section. Many unwary travelers have lost their lives on these twisting mountain roads, although who is to say whether it was the ice <em>or something else</em> from beyond the natural world.
   
  %p.where Timberline Lodge was featured in Kubrik&#8217;s classic Horror film The Shining. Do not fear though, cannibalistic pioneer spirits are thought by mainstream historians to be entirely fictional.