%section.wolf_like_me
  %h1 Our Song
  %h2 "Wolf Like Me" by TV on the Radio
  .lyrics.left
    %iframe{:allowfullscreen => "", :frameborder => "0", :src => "http://www.youtube.com/embed/j1-xRk6llh4"}
    %p.lyric.stanza Say say my playmate
    %p.lyric wont you lay hands on me
    %p.lyric mirror my malady
    %p.lyric transfer my tragedy

    %p.lyric.stanza Got a curse I cannot lift
    %p.lyric shines when the sunset shifts
    %p.lyric when the moon is round and full
    %p.lyric gotta bust that box gotta gut that fish

    %p.lyric.stanza My mind's aflame

  .lyrics.center
    %p.lyric We could jet in a stolen car
    %p.lyric but I bet we wouldn't get too far
    %p.lyric before the transformation takes
    %p.lyric and bloodlust tanks and
    %p.lyric crave gets slaked

    %p.lyric.stanza My mind has changed
    %p.lyric my body's frame but god I like it
    %p.lyric my hearts aflame
    %p.lyric my body's strained but god I like it

    %p.lyric.stanza My mind has changed
    %p.lyric my body's frame but god I like it
    %p.lyric my hearts aflame
    %p.lyric my body's strained but god I like it

    %p.lyric.stanza Charge me your day rate
    %p.lyric ill turn you out in kind
    %p.lyric when the moon is round and full
    %p.lyric gonna teach you tricks that'll blow your mongrel mind
    
    %p.lyric.stanza baby doll I recognize
    %p.lyric you're a hideous thing inside
    %p.lyric if ever there were a lucky kind it's
    %p.lyric you you you you

    %p.lyric.stanza I know its strange another way to get to know you
    %p.lyric you'll never know unless we go so let me show you
    %p.lyric I know its strange another way to get to know you
    %p.lyric we've got till noon here comes the moon
    %p.lyric so let it show you
    %p.lyric show you now

  .lyrics.right
    %p.lyric Dream me oh dreamer
    %p.lyric down to the floor
    %p.lyric open my hands and let them
    %p.lyric weave onto yours

    %p.lyric.stanza Feel me, completer
    %p.lyric down to my core
    %p.lyric open my heart and let it
    %p.lyric bleed onto yours

    %p.lyric.stanza Feeding on fever
    %p.lyric down all fours
    %p.lyric show you what all that
    %p.lyric howl is for

    %p.lyric.stanza Hey hey my playmate
    %p.lyric let me lay waste to thee
    %p.lyric burned down their hanging trees
    %p.lyric it's hot here hot here hot here hot here

    %p.lyric.stanza Got a curse we cannot lift
    %p.lyric shines when the sunset shifts
    %p.lyric there's a cure comes with a kiss
    %p.lyric the bite that binds the gift that gives

    %p.lyric.stanza now that we got gone for good
    %p.lyric writhing under your riding hood
    %p.lyric tell your gra'ma and your mama too
    %p.lyric it's true
    %p.lyric we're howling forever
