$base-font-size: 15px
$base-line-height: 25px
+establish-baseline


@font-face
  font:
    family: 'BloodCrow'
    weight: normal
    style: normal
  src: asset-url('bloodcrow.ttf', font)

.blood
  font:
    font-family: 'BloodCrow', sans-serif

h1
  +adjust-font-size-to(40px)
  +padding-leader(1, 40px)

h2
  +adjust-font-size-to(25px)

p
  +padding-trailer(1)

@for $size from 1 through 5
  .line-#{$size}
    $local-size: $size * 5px + 15px
    +adjust-font-size-to($local-size)
    +padding-leader(0, $local-size)
