// Place all the styles related to the guest_groups controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.save_the_date
  position: relative
  top:  -100px
  left: 500px
.rsvp_form
  position: relative
  top:  100px
.field
  padding: 4px
  margin-top: 10px